<template name="showGroup">
	{{>umShowGroup}}
</template>

<template name="showGroupToolbar">
	<core-toolbar class="toolbar toolbar-secondary">
		<paper-icon-button class="goBack" icon="arrow-back"></paper-icon-button>
		<div flex>{{_ "groupDetail"}}</div>
		<paper-icon-button class="editGroup" icon="create"></paper-icon-button>
		<paper-icon-button data-open-dialog data-heading="{{_ 'removeQuestion' group}}" data-temlpate="deleteGroup" icon="delete"></paper-icon-button>
	</core-toolbar>
</template>