@import 'imports'

body
	font-family 'Roboto'
  font-size 16px
  font-weight 500

*
	-webkit-font-smoothing: antialiased

.navbar-fixed
	z-index 997

ul.side-nav.fixed li.menu-item
	line-height: 44px

ul.side-nav li.logo
	padding: 0
	a
		color: white

ul.collection
	border: 0

li.collection-item.header-item
	border: 0

ul.collection a.collection-item
	color: rgba(0, 0, 0, 0.87)
	&:hover
		background: #fff !important
