<template name="header">
  <core-toolbar class="toolbar toolbar-primary">

    <!-- <a class="header-logo" href="/"> -->
    	user-management
    <!-- </a> -->

    <div flex></div>

    <div class="visible-md wide">
      <div layout horizontal>
        {{> publicHeaderItems}}
      </div>
    </div>

    <paper-menu-button class="narrow">
      <paper-icon-button icon="language" role="button"></paper-icon-button>
        <paper-dropdown class="dropdown" halign="right">
            <core-menu class="menu">
                {{>language}}
            </core-menu>
        </paper-dropdown>
    </paper-menu-button>

    <paper-menu-button class="hidden-md narrow">
      <paper-icon-button icon="menu" role="button"></paper-icon-button>
      <paper-dropdown class="dropdown" halign="right">
        <core-menu class="menu">
          {{> publicHeaderItems}}
        </core-menu>
      </paper-dropdown>
    </paper-menu-button>

  </core-toolbar>
</template>

<template name="language">
    <paper-item id="en" data-action="english" class="toolbar-item language-item">
        English
    </paper-item>
    <paper-item id="de" data-action="german" class="toolbar-item language-item">
        German
    </paper-item>
</template>


<template name="publicHeaderItems">

  <paper-item data-action="showUsers" class="toolbar-item">
    <a href="{{pathFor route='umShowUsers'}}">
      {{_ "users"}}
    </a>
  </paper-item>

  <paper-item data-action="showGroups" class="toolbar-item">
    <a href="{{pathFor route='umShowGroups'}}">
      {{_ "groups"}}
    </a>
  </paper-item>

  {{#unless currentUser}}
  <paper-item data-action="sign-in" class="toolbar-item">
    <a href="{{pathFor route='atSignIn'}}">
      {{t9n 'signIn'}}
    </a>
  </paper-item>
  {{else}}
  <paper-item data-action="sign-out" class="toolbar-item">
    <a href="#">
      {{t9n 'signOut'}}
    </a>
  </paper-item>
  {{/unless}}

</template>