<template name="header">
  <core-toolbar class="toolbar toolbar-primary">

    <!-- <a class="header-logo" href="/"> -->
    	user-management
    <!-- </a> -->

    <div flex></div>

    <div class="visible-md wide">
      <div layout horizontal>
        {{> publicHeaderItems}}
      </div>
    </div>

    <paper-menu-button class="hidden-md narrow">
      <paper-icon-button icon="menu" role="button"></paper-icon-button>
      <paper-dropdown class="dropdown" halign="right">
        <core-menu class="menu">
          {{> publicHeaderItems}}
        </core-menu>
      </paper-dropdown>
    </paper-menu-button>

  </core-toolbar>
</template>

<template name="publicHeaderItems">

  {{#unless currentUser}}
  <paper-item data-action="sign-in" class="toolbar-item">
    <a href="">
      Sign In
    </a>
  </paper-item>
  {{else}}
  <paper-item data-action="sign-out" class="toolbar-item">
      Sign Out
  </paper-item>
  {{/unless}}

</template>