<template name="layout">
      <core-drawer-panel id="coreDrawer">
            <core-header-panel mode="seamed" drawer>
                  <core-toolbar class="toolbar toolbar-primary">
                        <div>user-management</div>
                  </core-toolbar>
                  <core-menu theme="core-light-theme">
                        <core-item icon="social:person" label="{{_ 'users'}}" data-action="showUsers">
                        </core-item>
                        <core-item icon="social:group" label="{{_ 'groups'}}" data-action="showGroups">
                        </core-item>

                        {{#unless currentUser}}
                              <core-item icon="account-box" label="{{t9n 'signIn'}}" data-action="sign-in">
                              </core-item>
                        {{else}}
                              <core-item icon="exit-to-app" label="{{t9n 'signOut'}}" data-action="sign-out">
                              </core-item>
                        {{/unless}}
                  </core-menu>
            </core-header-panel>
            <core-header-panel id="hPanel" mode="waterfall" main>
                  {{#globalLayout}}
                  <core-toolbar class="toolbar toolbar-secondary">
                        <div class="toolbar-anim-wrapper">
                              {{#transitioner}}
                                    {{>yield 'layoutHeader'}}
                              {{/transitioner}}
                        </div>
                  </core-toolbar>
                  <div class="main-content">

                        {{> umPolymerLayout}}
                              {{#transitioner}}
                                    {{>yield}}
                              {{/transitioner}}
                  </div>
                  {{/globalLayout}}
            </core-header-panel>
      </core-drawer-panel>
</template>